# Environment & secrets
.env
*.env
config.py

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Data - too large for git (submit samples separately)
# data/raw/
#data/processed/

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/samples/
!data/samples/.gitkeep

# OS
.DS_Store
Thumbs.db
