# Data Collection
google-api-python-client==2.131.0
requests==2.31.0
python-dotenv==1.0.1

# Data Processing
pandas==2.2.2
numpy==1.26.4
scipy==1.12.0

# Notebook Execution
ipykernel==7.2.0
nbconvert==7.17.1
nbformat==5.10.4

# NLP & Visualisation
nltk==3.8.1
vaderSentiment==3.3.2
gensim==4.3.2
scikit-learn==1.5.0
seaborn==0.13.2
matplotlib==3.8.4
wordcloud==1.9.3

# Network Analysis
networkx==3.3
python-louvain==0.16
